.hero {
  background-image: url(/assets/Light/Hero.svg);
  background-size: 100% auto;
}

/* lg */
@media (min-width: 1024px) {
  .headline {
    line-height: 1.15;
  }

  .picture {
    width: 400px;
    height: 400px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .picture {
    width: 460px;
    height: 460px;
  }
}
