.bubble::after,
.bubble::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-width: 16px 16px 0 16px;
  border-color: #fff rgba(255, 255, 255, 0);
  border-style: solid;
  position: absolute;
  bottom: -15px;
  left: 48px;
  z-index: 10;
}

.bubble::before {
  z-index: 9;
  bottom: -16px;
  border-color: rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0);
}

:global(.dark) .bubble::after {
  border-color: #1f2937 rgba(255, 255, 255, 0);
}

:global(.dark) .bubble::before {
  border-color: rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0);
}
