.hero {
  background-image: url(/assets/Light/Hero.svg);
  background-size: 100% auto;
}

.picture {
  width: 460px;
  height: 460px;
}

/* md */
@media (min-width: 768px) {
  .headline {
    line-height: 1.15;
  }
}
