:root {
  /* color theme */
  --color-theme-100: #f7fafc;
  --color-theme-200: #edf2f7;
  --color-theme-300: #e2e8f0;
  --color-theme-400: #cbd5e0;
  --color-theme-500: #a0aec0;
  --color-theme-600: #718096;
  --color-theme-700: #4a5568;
  --color-theme-800: #2d3748;
  --color-theme-900: #1a202c;

  --notion-background-red: #f56565;
  --notion-background-pink: #fed7e2;
  --notion-background-blue: #4299e1;
  --notion-background-purple: #e9d8fd;
  --notion-background-teal: #b2f5ea;
  --notion-background-yellow: #fefcbf;
  --notion-background-orange: #feebc8;
  --notion-background-brown: #d9d3d0;
  --notion-background-gray: #edf2f7;
}

.theme-dark {
  /* color theme */
  --color-theme-100: #1a202c;
  --color-theme-200: #2d3748;
  --color-theme-300: #4a5568;
  --color-theme-400: #718096;
  --color-theme-500: #a0aec0;
  --color-theme-600: #cbd5e0;
  --color-theme-700: #e2e8f0;
  --color-theme-800: #edf2f7;
  --color-theme-900: #f7fafc;

  --notion-background-red: rgba(155, 44, 44, 0.45);
  --notion-background-pink: rgba(151, 38, 109, 0.45);
  --notion-background-blue: rgba(44, 82, 130, 0.45);
  --notion-background-purple: rgba(85, 60, 154, 0.45);
  --notion-background-teal: rgba(40, 94, 97, 0.45);
  --notion-background-yellow: rgba(236, 201, 75, 0.35);
  --notion-background-orange: rgba(156, 66, 33, 0.45);
  --notion-background-brown: rgba(47, 36, 31, 0.45);
  --notion-background-gray: rgba(45, 55, 72, 0.45);
}
