:root {
  /* color theme */
  --color-theme-100: #f7fafc;
  --color-theme-200: #edf2f7;
  --color-theme-300: #e2e8f0;
  --color-theme-400: #cbd5e0;
  --color-theme-500: #a0aec0;
  --color-theme-600: #718096;
  --color-theme-700: #4a5568;
  --color-theme-800: #2d3748;
  --color-theme-900: #1a202c;

  /* color accent */
  --color-accent-100: #f7fafc;
  --color-accent-200: #edf2f7;
  --color-accent-300: #e2e8f0;
  --color-accent-400: #cbd5e0;
  --color-accent-500: #a0aec0;
  --color-accent-600: #718096;
  --color-accent-700: #4a5568;
  --color-accent-800: #2d3748;
  --color-accent-900: #1a202c;

  /* color primar */
  --color-primary-50: #f4f8ff;
  --color-primary-100: #e9f0ff;
  --color-primary-200: #c7dafe;
  --color-primary-300: #a5c4fd;
  --color-primary-400: #6298fc;
  --color-primary-500: #1e6cfb;
  --color-primary-600: #1b61e2;
  --color-primary-700: #124197;
  --color-primary-800: #0e3171;
  --color-primary-900: #09204b;

  /* color red */
  --color-red-100: #fff5f5;
  --color-red-200: #fed7d7;
  --color-red-300: #feb2b2;
  --color-red-400: #fc8181;
  --color-red-500: #f56565;
  --color-red-600: #e53e3e;
  --color-red-700: #c53030;
  --color-red-800: #9b2c2c;
  --color-red-900: #742a2a;

  /* color orange */
  --color-orange-100: #fffaf0;
  --color-orange-200: #feebc8;
  --color-orange-300: #fbd38d;
  --color-orange-400: #f6ad55;
  --color-orange-500: #ed8936;
  --color-orange-600: #dd6b20;
  --color-orange-700: #c05621;
  --color-orange-800: #9c4221;
  --color-orange-900: #7b341e;

  /* color yellow */
  --color-yellow-100: #fffff0;
  --color-yellow-200: #fefcbf;
  --color-yellow-300: #faf089;
  --color-yellow-400: #f6e05e;
  --color-yellow-500: #ecc94b;
  --color-yellow-600: #d69e2e;
  --color-yellow-700: #b7791f;
  --color-yellow-800: #975a16;
  --color-yellow-900: #744210;

  /* color green */
  --color-green-100: #f0fff4;
  --color-green-200: #c6f6d5;
  --color-green-300: #9ae6b4;
  --color-green-400: #68d391;
  --color-green-500: #48bb78;
  --color-green-600: #38a169;
  --color-green-700: #2f855a;
  --color-green-800: #276749;
  --color-green-900: #22543d;

  /* color teal */
  --color-teal-100: #e6fffa;
  --color-teal-200: #b2f5ea;
  --color-teal-300: #81e6d9;
  --color-teal-400: #4fd1c5;
  --color-teal-500: #38b2ac;
  --color-teal-600: #319795;
  --color-teal-700: #2c7a7b;
  --color-teal-800: #285e61;
  --color-teal-900: #234e52;

  /* color blue */
  --color-blue-100: #ebf8ff;
  --color-blue-200: #bee3f8;
  --color-blue-300: #90cdf4;
  --color-blue-400: #63b3ed;
  --color-blue-500: #4299e1;
  --color-blue-600: #3182ce;
  --color-blue-700: #2b6cb0;
  --color-blue-800: #2c5282;
  --color-blue-900: #2a4365;

  /* color indigo */
  --color-indigo-100: #ebf4ff;
  --color-indigo-200: #c3dafe;
  --color-indigo-300: #a3bffa;
  --color-indigo-400: #7f9cf5;
  --color-indigo-500: #667eea;
  --color-indigo-600: #5a67d8;
  --color-indigo-700: #4c51bf;
  --color-indigo-800: #434190;
  --color-indigo-900: #3c366b;

  /* color purple */
  --color-purple-100: #faf5ff;
  --color-purple-200: #e9d8fd;
  --color-purple-300: #d6bcfa;
  --color-purple-400: #b794f4;
  --color-purple-500: #9f7aea;
  --color-purple-600: #805ad5;
  --color-purple-700: #6b46c1;
  --color-purple-800: #553c9a;
  --color-purple-900: #44337a;

  /* color pink */
  --color-pink-100: #fff5f7;
  --color-pink-200: #fed7e2;
  --color-pink-300: #fbb6ce;
  --color-pink-400: #f687b3;
  --color-pink-500: #ed64a6;
  --color-pink-600: #d53f8c;
  --color-pink-700: #b83280;
  --color-pink-800: #97266d;
  --color-pink-900: #702459;

  /* color color */
  --notion-color-red: #f56565;
  --notion-color-pink: #ed64a6;
  --notion-color-blue: #4299e1;
  --notion-color-purple: #9f7aea;
  --notion-color-teal: #38b2ac;
  --notion-color-yellow: #ecc94b;
  --notion-color-orange: #ed8936;
  --notion-color-brown: #685044;
  --notion-color-gray: #a0aec0;

  --notion-background-red: #f56565;
  --notion-background-pink: #fed7e2;
  --notion-background-blue: #4299e1;
  --notion-background-purple: #e9d8fd;
  --notion-background-teal: #b2f5ea;
  --notion-background-yellow: #fefcbf;
  --notion-background-orange: #feebc8;
  --notion-background-brown: #d9d3d0;
  --notion-background-gray: #edf2f7;
}

.theme-dark {
  /* color theme */
  --color-theme-900: #f7fafc;
  --color-theme-800: #edf2f7;
  --color-theme-700: #e2e8f0;
  --color-theme-600: #cbd5e0;
  --color-theme-500: #a0aec0;
  --color-theme-400: #718096;
  --color-theme-300: #4a5568;
  --color-theme-200: #2d3748;
  --color-theme-100: #1a202c;

  /* color accent */
  --color-accent-900: #ffffff;
  --color-accent-800: #f7fafc;
  --color-accent-700: #edf2f7;
  --color-accent-600: #e2e8f0;
  --color-accent-500: #cbd5e0;
  --color-accent-400: #a0aec0;
  --color-accent-300: #718096;
  --color-accent-200: #4a5568;
  --color-accent-100: #2d3748;

  /* color primary */
  --color-primary-50: #09204b;
  --color-primary-100: #09204b;
  --color-primary-200: #0e3171;
  --color-primary-300: #124197;
  --color-primary-400: #1b61e2;
  --color-primary-500: #1e6cfb;
  --color-primary-600: #6298fc;
  --color-primary-700: #a5c4fd;
  --color-primary-800: #c7dafe;
  --color-primary-900: #e9f0ff;

  /* color red */
  --color-red-100: #742a2a;
  --color-red-200: #9b2c2c;
  --color-red-300: #c53030;
  --color-red-400: #e53e3e;
  --color-red-500: #f56565;
  --color-red-600: #fc8181;
  --color-red-700: #feb2b2;
  --color-red-800: #fed7d7;
  --color-red-900: #fff5f5;

  /* color orange */
  --color-orange-100: #7b341e;
  --color-orange-200: #9c4221;
  --color-orange-300: #c05621;
  --color-orange-400: #dd6b20;
  --color-orange-500: #ed8936;
  --color-orange-600: #f6ad55;
  --color-orange-700: #fbd38d;
  --color-orange-800: #feebc8;
  --color-orange-900: #fffaf0;

  /* color yellow */
  --color-yellow-100: #744210;
  --color-yellow-200: #975a16;
  --color-yellow-300: #b7791f;
  --color-yellow-400: #d69e2e;
  --color-yellow-500: #ecc94b;
  --color-yellow-600: #f6e05e;
  --color-yellow-700: #faf089;
  --color-yellow-800: #fefcbf;
  --color-yellow-900: #fffff0;

  /* color green */
  --color-green-100: #22543d;
  --color-green-200: #276749;
  --color-green-300: #2f855a;
  --color-green-400: #38a169;
  --color-green-500: #48bb78;
  --color-green-600: #68d391;
  --color-green-700: #9ae6b4;
  --color-green-800: #c6f6d5;
  --color-green-900: #f0fff4;

  /* color teal */
  --color-teal-100: #234e52;
  --color-teal-200: #285e61;
  --color-teal-300: #2c7a7b;
  --color-teal-400: #319795;
  --color-teal-500: #38b2ac;
  --color-teal-600: #4fd1c5;
  --color-teal-700: #81e6d9;
  --color-teal-800: #b2f5ea;
  --color-teal-900: #e6fffa;

  /* color blue */
  --color-blue-100: #2a4365;
  --color-blue-200: #2c5282;
  --color-blue-300: #2b6cb0;
  --color-blue-400: #3182ce;
  --color-blue-500: #4299e1;
  --color-blue-600: #63b3ed;
  --color-blue-700: #90cdf4;
  --color-blue-800: #bee3f8;
  --color-blue-900: #ebf8ff;

  /* color indigo */
  --color-indigo-100: #3c366b;
  --color-indigo-200: #434190;
  --color-indigo-300: #4c51bf;
  --color-indigo-400: #5a67d8;
  --color-indigo-500: #667eea;
  --color-indigo-600: #7f9cf5;
  --color-indigo-700: #a3bffa;
  --color-indigo-800: #c3dafe;
  --color-indigo-900: #ebf4ff;

  /* color purple */
  --color-purple-100: #44337a;
  --color-purple-200: #553c9a;
  --color-purple-300: #6b46c1;
  --color-purple-400: #805ad5;
  --color-purple-500: #9f7aea;
  --color-purple-600: #b794f4;
  --color-purple-700: #d6bcfa;
  --color-purple-800: #e9d8fd;
  --color-purple-900: #faf5ff;

  /* color pink */
  --color-pink-100: #702459;
  --color-pink-200: #97266d;
  --color-pink-300: #b83280;
  --color-pink-400: #d53f8c;
  --color-pink-500: #ed64a6;
  --color-pink-600: #f687b3;
  --color-pink-700: #fbb6ce;
  --color-pink-800: #fed7e2;
  --color-pink-900: #fff5f7;

  --notion-background-red: rgba(155, 44, 44, 0.45);
  --notion-background-pink: rgba(151, 38, 109, 0.45);
  --notion-background-blue: rgba(44, 82, 130, 0.45);
  --notion-background-purple: rgba(85, 60, 154, 0.45);
  --notion-background-teal: rgba(40, 94, 97, 0.45);
  --notion-background-yellow: rgba(236, 201, 75, 0.35);
  --notion-background-orange: rgba(156, 66, 33, 0.45);
  --notion-background-brown: rgba(47, 36, 31, 0.45);
  --notion-background-gray: rgba(45, 55, 72, 0.45);

  background-color: #1a202c;
  color: #fff;
}

.theme-light .bg-theme,
.theme-light .bg-accent {
  background-color: #fff;
}

.theme-dark .bg-theme {
  background-color: #1a202c;
}

.theme-dark .bg-accent {
  background-color: #2d3748;
}
