@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

@keyframes pulse-secondary {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(242, 183, 5, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(242, 183, 5, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(242, 183, 5, 0);
  }
}

.pulse-secondary {
  animation: pulse-secondary 2s infinite;
  transform: scale(1);
}

.opacity-0-force {
  opacity: 0 !important;
}

.fadeInUp-25 {
  animation: fadeInUp_25;
}

@keyframes fadeInUp_25 {
  from {
    opacity: 0;
    transform: translate3d(0, 25%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp-50 {
  animation: fadeInUp_50;
}

@keyframes fadeInUp_50 {
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animated {
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.animated_faster {
  animation-duration: calc(var(--animate-duration) / 2);
}

.animated_fast {
  animation-duration: calc(var(--animate-duration) * 0.8);
}

.animated_slow {
  animation-duration: calc(var(--animate-duration) * 2);
}

.animated_slower {
  animation-duration: calc(var(--animate-duration) * 3);
}

.animated_delay-1s {
  animation-delay: 1s;
}

.animated_delay-2s {
  animation-delay: 2s;
}

@media print, (prefers-reduced-motion: reduce) {
  .animated {
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;
    animation-iteration-count: 1 !important;
  }

  .animated[class*='Out'] {
    opacity: 0;
  }
}

.rounded-xl {
  border-radius: 16px;
}

[data-reach-tooltip] {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  font-size: 85%;
  background: #fff;
  border-radius: 999px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  animation: slide-down 0.1s ease;
  z-index: 9999;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

:root {
  --reach-dialog: 1;
}

[data-reach-dialog-overlay] {
  background: hsla(0, 0%, 0%, 0.44);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: 99999;
}

[data-reach-dialog-content] {
  border-radius: 10px;
  outline: none;
  margin: 10vh auto 0;
  animation: reachDialogEnter 1 0.25s;
  animation-fill-mode: both;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15),
    0 30px 60px -30px rgba(0, 0, 0, 0.3),
    0 -18px 60px -10px rgba(0, 0, 0, 0.025);
}

@keyframes reachDialogEnter {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
